@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-white antialiased;
}

.container-narrow {
  @apply max-w-4xl mx-auto px-4;
}
